* {
  margin: 0px;
}
#header {
  margin-top: 20px;
}
h1, h2, .description {
  text-align: center;
}
#mainNav, #graph {
  margin-top: 25px;
} 
.select2-container {
  width: 80px;
} 
.imageChoice {
  width: 35px;
  height: auto;
}
#mainNav, #selectionTitle, #investmentChoices, #tradingTable, #holdingTable {
  margin-bottom: 25px;
}
#holdingPrice {
  min-width: 200px;
}
#tradeNumbers, #holdingNumbers, #footer {
  text-align: -webkit-center; 
}
td {
  text-align: center;
}
.select2 {
  width: 80px !important;
}
.backButton {
  margin-bottom: 15px;
}
/* #tradingResultsDiv, #holdingResultsDiv, #oldTradingResultsDiv, #oldHoldingResultsDiv {
  padding-left: 70px;
} */
#tradeBox {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
  border-radius: 20px;
  margin: 10px;
  padding: 12px 12px 10px 12px;
}
#contacto {
  margin-top: 10px;
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#contactMain {
  text-align: -webkit-center; 
}
.contactMainTitleContainer {
  padding-top: 15px;
}
.iconsContainer {
  margin-top: 10px;
}
a:hover {
  text-decoration: none;
}
.icons {
  color: rgb(108, 117, 125);;
  font-size: 35px;
  padding: 15px 15px;
  text-decoration: none;
}
#footer {
  padding: 15px 0px 15px 0px;
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}