* {
  margin: 0px;
}
#header {
  margin-top: 20px;
}
h1, h2, h3, .description {
  text-align: center;
  margin-bottom: 15px;
}
#titleGraph {
  text-align: -webkit-center; 
}
#graph {
  margin-top: 25px;
}
#mainNav {
  color: #495057 !important;
  background-color: #e9ecef !important;
  border-color: #dee2e6 !important;
  border-radius: 0.25rem;
  margin-top: 25px;
}
#detail {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
  min-width: 160px;
  padding: .25em .4em;;
  display: inline-block;
  font-size: 100%;
  font-weight: 700;
  text-align: center;
  border-radius: .25rem;
  margin-top: 10px;
}
.select2-container {
  width: 80px;
} 
.imageChoice {
  width: 35px;
  height: auto;
}
#mainNav, #selectionTitle, #investmentChoices, #tradingTable, #holdingTable {
  margin-bottom: 25px;
}
#holdingPrice {
  min-width: 200px;
}
#tradeNumbers, #holdingNumbers, #footer {
  text-align: -webkit-center; 
}
.tradingTh{
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
  max-width: 160px;
}
.holdingTh {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
  min-width: 160px;
}
.tdChoice {
  text-align: center;
}
.choiceP {
  margin-bottom: 0px;
}
#holdingImageChoice, #tradingImageChoice {
  min-height: 61px;
}
.select2 {
  width: 80px !important;
}
input {
  max-width: 150px;
}
.backButton {
  margin-bottom: 15px;
}
#divSaveResult {
  margin: 15px 0px 25px 0px;
}
.clearAllButtonContainer {
  text-align: -webkit-center; 
}
.clearAll {
  margin: 15px 0px;
  border-radius: .25rem;
}
.tradeBox, .holdBox, .oldTradeBox, .oldHoldBox {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
  border-radius: 20px;
  margin: 10px;
  padding: 12px 12px 10px 12px;
}
#top100DescriptionContainer {
  text-align: -webkit-center;
}
#top100, #historical {
  display: none;
}
.thTop {
  position: sticky;
  top: 0;
  z-index: 10;
}
.imageTop {
  width: 30px;
  height: auto;
}
.table-responsive { 
  height: 500px;
  overflow-y: scroll;
}
.calculateReady{
  position: absolute;
  z-index: 32000;
  top: 800px;
  padding: 5px;
  width: max-content;
  margin-left: 565px;
  text-align: center;
  background-color: #e9ecef;
  border-color: #dee2e6;
  border-radius: .25rem;
  color: #28a745;
  opacity: 0;
  font-size: 1rem;
}
#contacto {
  margin-top: 10px;
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#contactMain {
  text-align: -webkit-center; 
}
.contactMainTitleContainer {
  padding-top: 15px;
}
.iconsContainer {
  margin-top: 10px;
}
a:hover {
  text-decoration: none;
}
.icons {
  color: rgb(108, 117, 125);;
  font-size: 35px;
  padding: 15px 15px;
  text-decoration: none;
}
#footer {
  padding: 15px 0px 15px 0px;
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media only screen and (min-width: 576px) and (max-width:768px) {
  #mainNav {
    max-width: 157px;
    justify-content: space-between;
  }
  #athTop, #athDateTop, #max24Top, #min24Top {
    display: none;
  }
  .ath, .athDate, .max24, .min24 {
    display: none;
  }
  .calculateReady {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .tradingTh{
    max-width: 126px;
  }
  .holdingTh {
    max-width: 126px;
    min-width: 125px;
  }
  tdChoice {
    max-width: 300px;
  }
  #mainNav {
    max-width: 157px;
    justify-content: space-between;
  }
  .table-responsive { 
    width: 100%;
    overflow-x: hidden;
  }
  #athTop, #athDateTop, #max24Top, #min24Top {
    display: none;
  }
  .ath, .athDate, .max24, .min24 {
  display: none;
  }
  .calculateReady {
    display: none;
  }
}