* {
  margin: 5px;
}
h1 {
  text-align: center;
}
.imageChoice {
  width: 80px;
  height: auto;
}
#mainNav, #selectionTitle, #investmentChoices, #tradingTable, #holdingTable {
  margin-bottom: 25px;
}
#tradeNumbers, #holdingNumbers {
  text-align: -webkit-center; 
}