* {
  margin: 0px;
}
h1 {
  text-align: center;
}
.imageChoice {
  width: 80px;
  height: auto;
}
#mainNav, #selectionTitle, #investmentChoices, #tradingTable, #holdingTable {
  margin-bottom: 25px;
}
#holdingPrice {
  min-width: 200px;
}
#tradeNumbers, #holdingNumbers, #footer {
  text-align: -webkit-center; 
}
.backButton {
  margin-bottom: 15px;
}